.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
}

.items {
  overflow: auto;
  margin-bottom: 40px;
}

.greenButton {
  width: 100%;
  height: 55px;

  background: #9dd558;
  color: white;
  font-weight: 600;
  font-size: 16px;

  border: none;
  border-radius: 18px;

  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }
}

.drawer {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;

  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  padding: 30px;

  h2 {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
  }
  .cartNoEmpty {
    height: 95%;
    display: flex;
    flex-direction: column;
  }
  .cartEmptyBlock {
    display: flex;
    height: 100%;

    .cartEmpty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        margin-bottom: 9px;
      }
      p {
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;
        opacity: 0.6;
        line-height: 24px;
        padding: 0 20px;
      }

      .greenButton {
        position: relative;
        width: 245px;

        img {
          position: absolute;
          transform: rotate(180deg);
          top: 20px;
          left: 24px;
          transition: transform 0.15s ease-in-out;
        }

        &:hover {
          img {
            transform: rotate(180deg) translateX(-5px);
          }
        }
      }
    }
  }

  .items {
    flex: 1;
    .cartItem {
      border: 1px solid #f3f3f3;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;

      padding: 20px;
      margin-bottom: 20px;

      .cartInfo {
        margin: 0 10px;
      }

      p {
        margin: 0 0 8px 0;
      }
    }
  }

  .btnRemove {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .cardTotalBlock {
    ul {
      margin-bottom: 30px;

      div {
        flex: 1;
        height: 1;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
      li {
        display: flex;
        margin-bottom: 20px;
      }
    }
    .greenButton {
      position: relative;

      img {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.15s ease-in-out;
      }

      &:hover {
        img {
          transform: translateX(5px);
        }
      }

      &:disabled {
        animation: button-loading 0.5s ease-in-out infinite;
      }
    }
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
