* {
  font-family: 'Inter', system-ui;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;

  /*CLEAR-BEGIN*/
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
  /*CLEAR-END*/
}

header {
  display: flex;
  justify-content: space-between;
  padding: 43px 60px 44px 45px;

  border-bottom: 1px solid #eaeaea;

  .header-left {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    h3,
    p {
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
    }
  }

  .header-right {
    display: flex;
    align-content: center;

    .btnHeader {
      cursor: pointer;
    }

    li,
    .link {
      display: flex;
      align-items: center;
      margin-right: 32px;

      span {
        margin-left: 5px;
      }
    }

    li:last-child,
    .link:last-child {
      margin-right: 0;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;

  background: #9dd558;
  color: white;
  font-weight: 600;
  font-size: 16px;

  border: none;
  border-radius: 18px;

  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }
}

.content {
  padding: 60px;

  .content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h1 {
      margin: 0;
    }

    .search-block {
      display: flex;
      position: relative;

      border: 1px solid #f3f3f3;

      border-radius: 10px;
      padding: 0 10px;

      .clear {
        position: absolute;
        height: 18px;
        width: 18px;
        right: 0;
        top: 13px;
        right: 13px;
        cursor: pointer;
      }

      input {
        border: 0;
        padding: 13px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .content-top-favorites {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    img {
      margin-right: 25px;
      cursor: pointer;
    }
  }

  .sneakers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
  }
}

.emptyFavoritesAndOrders {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1080px;

  .emptyFavoritesAndOrdersInfo {
    margin-top: 30px;
    margin-bottom: 70px;
    p,
    h3 {
      margin: 0;
      text-align: center;
    }
    h3 {
      margin-bottom: 11px;
    }
    p {
      opacity: 0.6;
    }
  }

  .greenButton {
    position: relative;
    width: 245px;

    img {
      position: absolute;
      transform: rotate(180deg);
      top: 20px;
      left: 24px;
      transition: transform 0.15s ease-in-out;
    }

    &:hover {
      img {
        transform: rotate(180deg) translateX(-5px);
      }
    }
  }
}

.ordersItem {
  width: 100%;
}
